.post-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin: 10px 20px;
    background-color: #323232;
    padding: 10px
}

.post-card h5 {
    margin: 0 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body {
    flex: 3
}

.footer {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.post-card button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: x-large;
    cursor: pointer;
}

.avatar {
    cursor: pointer;
}