.navbar {
    background-color: #323232;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navitem {
    display: flex;
    flex: 1;
    margin: 0 10px;
}